.audio-info {
    position: absolute;
    z-index: 2;
    color: #ffffff;
    text-shadow: 0 0px 30px var(--color-blue-star),
                 0 9px 15px var(--color-red-aum),
                 0 -9px 15px var(--color-orange-aum);
}

.audio-info__text {
    font-family: 'FontOfKindness';
    font-size: 30px;
    font-weight: 700;
    animation: spin 33.3s infinite linear;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    opacity: 1;
    transition: opacity 1s linear;
}

@media(max-width: 767px) {
    .audio-info__text {
        font-size: 20px;
    }
}

.audio-info__text--transparent {
    opacity: 0;
}

.audio-info__text--played {
    opacity: 1 !important;
}

.audio-info__text span {
    position: absolute;
    transform-origin: 50% 100%;
}

@keyframes spin {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}