@import "normalize.css";
@import "font.css";
@import "focus-visible.css";
@import "about.css";
@import "audio.css";
@import "player-btn.css";
@import "audio-info.css";
@import "lang.css";
@import "controls.css";

/* Common Styles */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    min-height: 100%;
}

:root {
    --color-orange-aum: #ffc144;
    --color-red-aum: #ff5a58;
    --color-blue-star: #1b7deb;
    --height-star-wars: calc(100vh - 100px);
    --btn-size: 150px;

    --control-size-width: 242px;
    --control-size-height: 378px;
}

@media(max-width: 767px) {
    :root {
        --btn-size: 125px;
    }
}

/* Main */
.page-main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #000000;
}

/* Space */
.space {
    position: absolute;
    top: 0;
    left: 0;
}

/* Buttons */
button:focus {
    outline: 3px solid var(--color-red-aum);
    outline-offset: 2px;
}