@import "normalize.css";
@import "focus-visible.css";

/* Common Styles */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    min-height: 100%;
}

/* Main */
.page-main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #27272c;
}

/* Player */

.player-btn {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    background: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

.player-btn:focus {
    outline: 3px solid #fe5a58;
    outline-offset: 2px;
}

/* Svg Icon */
.player-btn__icon {
    width: 150px;
    height: 150px;
}

.player-btn__icon path {
    transition: fill 0.5s linear;
}

.player-btn__icon .om-icon__aum {
    fill: #ff5a58;
}

.player-btn__icon .om-icon__circle {
    fill:#ffc144;
}


.player-btn__icon:hover .om-icon__aum {
    fill:#ffc144;
}

.player-btn__icon:hover .om-icon__circle {
    fill: #ff5a58;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}