@font-face {
  font-family: "FontOfKindness";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../../assets/fonts/FontOfKindness-Regular.woff2") format("woff2"),
    url("../../assets/fonts/FontOfKindness-Regular.woff") format("woff");
}
